:root{
    --cor-font : white;
    --cor-primaria : #74b9ff;
    --cor-topbar-title : #ff6565;
    --cor-container-principal : white;
}

@font-face {
    font-family: 'Montserrat';
    src: url('fonts/Montserrat/static/Montserrat-Light.ttf') format('truetype');
}

*{
    font-family: 'Montserrat', sans-serif !important;
}

.topbar-padrao{
    background-color: var(--cor-primaria) !important;
}

.div-table{
    padding: 2em 8em;
}

.font-topbar{
    color: var(--cor-font) !important;
}

.font-topbar-title{
    color:  var(--cor-topbar-title) !important;
    font-weight: 700;
    font-size: 2em;
}

.table-title-padrao{
    font-size: 1.5em;
    font-weight: 700;
    background-color: #80808063;
}

.div-home-lista-tabelas{
    padding: 2em 10em;
}

.container-principal{
    background-color: var(--cor-container-principal);
}

.div-footer{
    background-color: var(--cor-primaria);
}

.col-10{
    text-align: center;
    background-color: #f3f3f3;
}

.list-group-item{
    background-color: inherit;
    border: none;
    border-bottom: solid 1px;
}

.centraliza-pagination{
    display: flex;
    justify-content: center;
}

.list-group-item:last-child{
    border-bottom: none;
}

.a-icone-excluir, .a-icone-editar{
    text-decoration: none;
    margin: 5px;
}

.a-icone-excluir:hover{
    color: red;
}

.a-icone-editar:hover{
    color: orange;
}

.a-icone-excluir {
    color: red;
}

.a-icone-editar {
    color: orange;
}

.icone-editar{
    filter: drop-shadow(2px 4px 4px black);
}

.icone-editar:hover{
    filter: none;
}

.icone-excluir{
    filter:drop-shadow(2px 4px 4px black);
}

.icone-excluir:hover{
    filter:none;
}

.form-campo-id {
    color: red;
}

.form-campo-id:focus {
    color: red;
    background-color: #e9ecef;
    opacity: 1;
    box-shadow: none;
    border: 1px solid #ced4da;
}

.form-text {
    font-size: 0.775em;
}

.form-label {
    font-weight: 700;
    margin-bottom: 0.2rem;
}